.navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left:0;
    width: 100%;
    height: 50px;
    background-color: white;
}

.search-bar{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height:26px;
    width:70%;
    border: 1px solid lightgray;
    padding-left: 8px;
}

.search-icon{
    width: 18px;
}

.search-button{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 56px;
    height: 30px;
    border: 2px solid lightgray;
    border-left: none;
    cursor: pointer;
}

.logos{
    display: flex;
    flex-direction: row;
    width:200px;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}

.search{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    flex: 2;
    max-width: 800px;
    align-items: center;
    justify-content: center;
}

.mic-button{
    margin-left: 10px;
    border-radius: 17px;
    border: none;
    cursor: pointer;
}

.mic-icon{
    width: 17px;
    cursor: pointer;
}

.profile{
     display: flex;
    flex-direction: row;
    flex:1;
    align-items: center;
    justify-content: end;
}
.upload{
    width: 80px;
    height: 25px;
    border: none;
    background-color: lightgray;
    cursor: pointer;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

.noti{
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.logo{
    width: 20px;
    padding-right: 25px;
}
.logo1{
    width: 100px;
    padding-right: 10px;
}